{% extends "base.html" %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<canvas id="myChart"></canvas>
<script>
	var ctx = document.getElementById('myChart');
	var lineChartData = {
				labels: {{x_values}},
				datasets: [{
					label: 'Pressure readings',
					borderColor: "Blue",
					borderWidth: 1,
					pointRadius: 0,
					backgroundColor: "Blue",
					fill: false,
					data: {{y1_values}},
					yAxisID: 'y-axis-1',
				}, {
					label: 'Proximity Readings',
					borderColor: "Red",
					backgroundColor: "Red",
					borderWidth: 1,
					pointRadius: 0,
					fill: false,
					data: {{y2_values}},
					yAxisID: 'y-axis-2'
				}]
			};
	var chart_options = {
				responsive: true,
				hoverMode: 'index',
				stacked: false,
				scales: {
					yAxes: [{
						type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
						display: true,
						position: 'left',
						id: 'y-axis-1',}, 
						{
						type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
						display: true,
						position: 'right',
						id: 'y-axis-2',
						gridLines: {
						drawOnChartArea: false, // only want the grid lines for one axis to show up
						},
						}],
						}
					};
	var lineChart = new Chart(ctx, {
		type: 'line',
		data: lineChartData,
		options: chart_options
	});
	</script>
{% endblock %}