{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm">
        <h1>Run number</h1>    
    </div>
    <div class="col-sm">
        <h1>Shaking</h1>    
    </div>
    <div class="col-sm">
        <h1>In-flow rate</h1>    
    </div>
    <div class="col-sm">
        <h1>Actuation timing</h1>
    </div>
  </div>
{% for n in actuation_ids %}
<div class="row">
    <div class="col-sm">
        <h2><a href={{ url_for('show', actuation_id = n) }}>Run #{{n}}</a></h2>
    </div>
    <div class="col-sm">
        <button type="button" class="btn btn-success">Shaken</button>
    </div>
    <div class="col-sm">
        <h2><a href={{ url_for('flow_rate', actuation_id = n) }}>Average Flow Rate</a></h2>
        <!----<button type="button" class="btn btn-warning">Too low</button> -->
    </div>
    <div class="col-sm">
        <button type="button" class="btn btn-danger">Wrong timing</button>
    </div>
  </div>

{% endfor %}

{% endblock %}