{% extends "base.html" %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Shaken</th>
        <th scope="col">Max flow rate</th>
        <th scope="col">Actuation time</th>
      </tr>
    </thead>
    <tbody>
      {% for summary in summaries %}
      <div id="accordion">
      <tr>
        <th scope="row"><a href="{{ url_for('show', summary_id = summary.id)}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">{{summary.id}}</a>
        </th>
        <td>
            <div class="alert" role="alert">{{summary.datetime}}</div>
        </td>
        <td>
            <div class="alert shaken" role="alert"><a class="alert-link" data-toggle="collapse" href="#shaking{{summary.id}}">{% if summary.shaken %}Yes{% else %}No{% endif %}</a></div>
        </td>
        <td>
            <div class="alert max_inflow" role="alert"><a class="alert-link" data-toggle="collapse" href="#flow_rate{{summary.id}}">{{summary.max_inflow}}</a></div>
        </td>
        <td>
            <div class="alert actuation_time" role="alert"><a class="alert-link" data-toggle="collapse" href="#actuation_time{{summary.id}}">{{summary.good_coordination}}</a></div>
        </td>
      </tr>
    </div>  
        <tr>
            <td colspan="5">
                <div class="collapse" id="shaking{{summary.id}}">
                    <div class="card card-body">
                    <b>Shaken: </b>You are supposed to shake your inhaler before each use, this ensures that you have a full dose loaded when you press it 
                    </div>
                </div>
                <div class="collapse" id="flow_rate{{summary.id}}">
                        <div class="card card-body">
                        <p><b>Max Inflow-rate: </b>Your max inflow rate should be between <b>20 and 60 liters per minute </b>, if you inhaler faster or slower less medication will end up in your lungs.
                        Your maximum inflow rate was <b> {{summary.max_inflow}}</b></p>
                        </div>
                </div>
                <div class="collapse" id="actuation_time{{summary.id}}">
                        <div class="card card-body">
                        <p><b>Actuation time: </b>You should press on the inhaler, while you are breathing in to ensure that you get all the medication in your lung. 
                        You pressed the inhaler at <b>{{summary.actuation_time}} </b> and did breathe in from <b>{{summary.start_breath}} - {{summary.end_breath}} </b></p>
                        </div>
                </div>
            </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% block scripts %}
<script>
//Run through all values and color them if they are in the respective range 
function isBetween(n, a, b) {
    if(n >= a && n <= b){
        return 1;}
    else { return 0;}
}
$(document).ready(function(){
    //Test if shaken == yes
    $('.shaken').each(function(){
        if($(this).text() === "Yes"){
            $(this).toggleClass('.alert alert-success');
        }
        else{
            $(this).toggleClass('.alert alert-danger');
        }
    });

    //Test if max_inflow between 20 and 60
    $('.max_inflow').each(function(){
        console.log(parseFloat($(this).text()));
        var inflow_value = parseFloat($(this).text());
        if(20 < inflow_value && inflow_value < 60)
        {$(this).toggleClass('.alert alert-success');}
        else if(60 > inflow_value && inflow_value < 100)
        {$(this).toggleClass('.alert alert-warning');}
        else{$(this).toggleClass('.alert alert-danger');}
    });
    
    //Test if actuation time is true 
    $('.actuation_time').each(function(){
        if($(this).text() === "True")
        {$(this).toggleClass('.alert alert-success')}
        else{$(this).toggleClass('.alert alert-danger')}
    });
});
</script>
{% endblock %}